<!doctype html>
<html>
<head>
<title>WebSync</title>
</head>
<body>

<h1>Better than dropbox.</h1>

<h2>Blobs:</h2>
{% for blob in blobs %}
<tb> ID: {{blob.id}}, File: {{blob.filename}} - <a href="/blob/{{blob.id}}">Download</a>
<br>
{% endfor %}


<hr>
<h2>Upload new file:</h2>

<form method='POST' enctype='multipart/form-data' action='blob'>
File to upload: <input type=file name=blob><br>
Notes about the file: <input type=text name=blobname><br>
<br>
<input type=submit value=Press> to upload the file!
</form>
<hr>
</body>
</html>
