{% extends "layout.html" %}
{% block body %}

<a href="/vms">Machines</a>

  <h2>Create new Node:</h2> 
  <form method=post enctype='multipart/form-data' action="{{ url_for('manager')}}">
    <dl>
      <!--IP-address and port (xxx.xxx.xxx.xxx:XXXX)-->
      <dd>VM - <select name="vms">
       {% for vm in vms %}
          <option value="{{vm}}">{{vm}}</option>
        {% endfor %}
      </select>
      <dd>Port - <input type=text name=port placeholder="8001-8098">
      <input type=submit value=Create>
    </dl>
  </form>

  <ul class=entries>
    <h2>Nodes:</h2>
    {% for node in nodes %}
      <form action="/node/{{node.id}}" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <li>S: {{node.status}} - ID: {{node.id}} - <a href="http://{{node.ip}}:{{node.port}}">{{node.ip}}:{{node.port}}</a> - <a href="/node/{{node.id}}">Info</a> - <input type="submit" value="Kill" />
      </form>
    {% else %}
      <li><em>There are no active nodes.<em>
    {% endfor %}
  </ul>
  <ul class=entries>
    <h2>Blobs:</h2>
    {% for blob in blobs %}
      <li>ID: {{blob.id}} - last change: {{blob.last_change}}
    {% else %}
      <li><em>There are no synced blobs.<em>
    {% endfor %}
  </ul>
{% endblock %}